
@media only screen and (min-width: 768px) {
  /* For desktop: */
  #AAprofile {
      float: right;
      width: 33%;
      padding: 0 8px;  
  }
  h1{
      font-size: 1.8em;
  }
  h2{
      font-size: 1.4em;
  }
  h3{
      font-size: 1.2em;
  }
  p{
      font-size: 1em;
  }

  img{
      width: 33.3%;
  }
} 

@media only screen and (max-width: 768px) {
  #AAprofile {
      /* For tablets: */
      float: right;
      width: 100%;
      margin-bottom: 16px;
      padding: 0 8px;
  }

  h1{
      font-size: 2.6em;
  }
  h2{
      font-size: 2.2em;
  }
  h3{
      font-size: 2em;
  }
  p{
      font-size: 1.8em;
  }

  #ribbons{
      height:25vh;
  }
}

body{
  font-family: Helvetica, Arial, sans-serif;
  /* background-color: #f1f1f1; */
  font-size: 1.7vw;
  position: relative;
  min-width: 100%;
  overflow-x: hidden;
  z-index: 1;
  /* font: 14px / 1.3 InspireTWDC, Helvetica, Arial, sans-serif; */
  color: #2e3760;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.3;
  background-image: url("/sprite/knotted-timber-staggered-1995-mm-architextures.jpg"); 
  /* source https://architextures.org/textures/category/wood */
}


/* https://css-pattern.com/ */
.banner{
  --s: 1vh; 
  --c1: #f5ede9;
  --c2: #f8f3ea;
  --c3: #f1f1f1;
  --g: var(--s); /* gap between lines */
  background:
      conic-gradient(at var(--s) calc(100% - var(--s)),#0000 270deg,var(--c1) 0) calc(var(--s) + var(--g)) 0,
      linear-gradient(var(--c2) var(--s),#0000 0) 0 var(--g),
      conic-gradient(at var(--s) calc(100% - var(--s)),#0000 90deg,var(--c2) 0 180deg, var(--c1) 0),
      var(--c3);
  background-size: calc(2*(var(--s) + var(--g))) calc(2*(var(--s) + var(--g)));
}

#ribbons{
  padding:5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center ;
  gap: 1vw;
  width: 95vw;
}

#top_nav{
  background-image: linear-gradient(#cfbaa0, #f8f0e4 30%, #bdac91);
  position: sticky;
  top: 0;
  display: flex;
  width: 100vw;
  height: 40px;
}

nav*{
  padding: 0px;
  margin: 0px;
  border: 0px;
  vertical-align: middle;
}


body > header > nav > ul{
  /* padding: 0px;
  margin: 0px;
  border: 0px; */
  /* height: 7vh;  */

  gap: 3vw;
  display: flex;
  list-style: none;
  text-decoration: none;
  justify-content: center ;
  /* vertical-align: middle; */
}

#nav-ul > li {
  /* padding: 8px;
  margin: 16px; */
  position: relative;
  text-align: center;
  /* vertical-align: middle; */
}


#logo{
  display: inline-block;
  /* vertical-align: top; */
  margin-left: 15px;
  vertical-align: middle;

}
#logo *{

  /* margin-left: 0%; */
  text-decoration: none;
  color:white;
  padding: 0px;
  margin: 0px;
  border:0px;
  vertical-align: middle;
}

#logo>a, #logo>a>h1{
  vertical-align: middle;
}

.navbutton{
  transform: translate(0,-50px);
  border-radius: 30%;
  padding: 10px;
  background-color: yellow;
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: bolder;
  text-shadow:
      1px  1px 0px black,
      -1px  1px 0px black,
      1px -1px 0px black,
      -1px -1px 0px black;
}





/* body>main  {
display: inline-block;
justify-content: space-around;
margin: 15vw;
max-width: 95vw;
background-color: #f1f1f1;
width:60vw;
} */

.main-content{
  display: inline-block;
  justify-content: space-around;
  margin: 15vw;
  max-width: 95vw;
  background-color: #f1f1f1;
  width:60vw;
  border-radius: 20px;
}

.containerImages{
  display:flex;
  flex-wrap: wrap;
  justify-content: center ;
  gap: 1vw;
  /* width: 95vw; */
  margin: auto;
}

img{
  max-width: 95vw;
  max-height: 95vh;
}



form{
  text-align: center;
}
h2{
  text-align: center;
}

body> footer {
  /* background-color: rgb(46, 93, 230); */
  display: flex;
}


#footer-ul{
  display: flex;
  list-style: none;
}

#footer-ul> li {
  margin-left: 12px;

}
#footer-ul> li> a {
  color: white;
  text-decoration: none;
}

/* gallery style */

* {
  box-sizing: border-box;
}

/* Center website */

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 10px -16px;
  margin: auto;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  width: 33.33%;
  display: none; /* Hide all elements by default */
  /* background-image: url("/sprite/knotted-timber-staggered-1995-mm-architextures.jpg"); */
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  /* background-color: white; */
  padding: 2px;
  position: relative;
  text-align: center;
}


.content> h4, div.card-body{
  position: absolute;
  bottom: 0;
  color: #fff; /* White text */
  text-shadow:
      1px  1px 0px black,
      -1px  1px 0px black,
      1px -1px 0px black,
      -1px -1px 0px black;
  width: 100%;
  text-align: center;
  padding: 1px;
  opacity: 0;
  transition: opacity 0.3s;
}

.content:hover h4, div.card-body:hover{
  opacity: 1;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

/* Europeana style */
/* @import "https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"; */

.invisible {
  visibility: hidden!important
}

@media (min-width: 550px) {
  .card-group {
      display:flex;
      flex-wrap: wrap;

  }
  .m-3{
      max-width: 30vw;
  }
}

.card-img,.card-img-bottom,.card-img-top {
  width: 100%

}
.card-img-top {
  border-top-left-radius: var(--bs-card-inner-border-radius);
  border-top-right-radius: var(--bs-card-inner-border-radius)
}
.card-group>.card:not(:last-child) .card-header,.card-group>.card:not(:last-child) .card-img-top {
  border-top-right-radius: 0
}

/*
div.card-body{
color:#fff;
opacity: 0;
transition: opacity 0.3s;
}

div.card-body:hover{
color: #fff; /* White text */
/* text-shadow:
1px  1px 0px black,
-1px  1px 0px black,
1px -1px 0px black,
-1px -1px 0px black;
opacity: 1; */
/*
}

*/