body{
  font-family: Helvetica, Arial, sans-serif;
  background-color: #f1f1f1;
  font-size: 1.7vw;
}

#logo{
  margin:0px;
  padding: 8px;
  font-family: "Fredoka One", sans-serif;
  text-shadow:
      1px  1px 0px black,
      -1px  1px 0px black,
      1px -1px 0px black,
      -1px -1px 0px black;
}

#ribbons{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center ;
  gap: 5px;
  width: 100vw;
}

#border_top img{
  width: 100vw;
}
ul{
  margin:0px
}

body> div> header {
  /* background-color: rgb(46, 93, 230); */
  /* background-color: white; */
  /* color: white; */
  /* display: flex; */
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0;
}

body> div> header> nav> ul{
  display: flex;
  list-style: none;
  text-decoration: none;
  justify-content: center ;
  gap:20px;
  position: relative;

}


#nav-ul > li {
  padding: 8px;
  margin: 16px;
  position: relative;
  text-align: center;
  /* color: white; */

}
#nav-ul > li >img {
  border-radius: 45%;

}
#nav-ul > li>div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;

}

.navbutton{
  color: white;
  text-decoration: none;
  font-weight: bolder;
  text-shadow:
      1px  1px 0px black,
      -1px  1px 0px black,
      1px -1px 0px black,
      -1px -1px 0px black;
  /* padding: 12px; */
  /* border: 1px solid white; */
  /* border-radius: 10%; */
}

#main-content{
  display: inline-block;
  justify-content: space-around;
}

img#profile{
  float:right;
}

form{
  text-align: center;
}
h2{
  text-align: center;
}

body> div> footer {
  background-color: rgb(46, 93, 230);
  display: flex;
}


#footer-ul{
  display: flex;
  list-style: none;
}

#footer-ul > div > li {
  margin-left: 12px;

}
#footer-ul > div > li > a {
  color: white;
  text-decoration: none;
}



/* gallery style */

* {
  box-sizing: border-box;
}

/* Center website */

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 10px -16px;
  margin: auto;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  width: 33.33%;
  display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 2px;
  position: relative;
  text-align: center;
}


.content> h4{
  position: absolute;
  bottom: 0;
  color: #fff; /* White text */
  text-shadow:
      1px  1px 0px black,
      -1px  1px 0px black,
      1px -1px 0px black,
      -1px -1px 0px black;
  width: 100%;
  text-align: center;
  padding: 1px;
  opacity: 0;
  transition: opacity 0.3s;
}

.content:hover h4{
  opacity: 1;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}


/* Europeana style */


.invisible {
  visibility: hidden!important
}

@media (min-width: 550px) {
  .card-group {
      display:flex;
  }}

.card-img,.card-img-bottom,.card-img-top {
  width: 100%
}
